#wrapper{
	background-color: lightgrey;
	width: 900px;
	margin: 0 auto;
	height: auto;
}

#rightside, #leftside{
	display:inline-block;
	vertical-align: top;
	margin: 25px 0px 10px 20px;
}
#leftside{
	display: block;
}
p{
	display: block;
}